---
http_interactions:
- request:
    method: get
    uri: http://apitest.retailigence.com/v2.0/products?apikey=aIzdHVPfx5e20bav-Lx7xtdP7MK7usst&format=json&keywords=shirt&range=40&requestorid=c44a7a28-fc25-48b9-82a9-cc77ae4cdccb&units=k&userlocation=20852
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"RetailigenceSearchResult":{"id":"95c1cbc7-37ba-4b82-b357-0606a9539b5c","results":[{"SearchResult":{"product":{"id":"49550b14-f074-45a5-9e47-ab95bc38b6b6","externalproductid":"1335962","weight":0.0,"msrpCurrency":"USD","msrp":"14.99","productCategory":["Media"],"name":"Code
        999 Chopped, Screwed and Mixed [PA] [Slow]- CD","barcode":"00691151004025","brand":"Take
        Yo Shirt Off","images":[{"ImageInfo":{"imageName":"LARGE","link":"http:\/\/apitest.retailigence.com\/v2.0\/rdr?id=l:49550b14-f074-45a5-9e47-ab95bc38b6b6&requestId=95c1cbc7-37ba-4b82-b357-0606a9539b5c&apikey=aIzdHVPfx5e20bav-Lx7xtdP7MK7usst"}},{"ImageInfo":{"imageName":"SMALL","link":"http:\/\/apitest.retailigence.com\/v2.0\/rdr?id=s:49550b14-f074-45a5-9e47-ab95bc38b6b6&requestId=95c1cbc7-37ba-4b82-b357-0606a9539b5c&apikey=aIzdHVPfx5e20bav-Lx7xtdP7MK7usst"}}],"sku":"6074179","url":"http:\/\/apitest.retailigence.com\/v2.0\/rdr?id=p:49550b14-f074-45a5-9e47-ab95bc38b6b6&requestId=95c1cbc7-37ba-4b82-b357-0606a9539b5c&apikey=aIzdHVPfx5e20bav-Lx7xtdP7MK7usst","productType":["COMPACT
        DISC"]},"distance":{"distance":1.9401333001367531,"units":"kilometers"},"price":"14.99","location":{"id":"445e5fbd-0866-45b8-8116-fec85ba2af7f","timezone":"America\/New_York","distance":{"distance":1.9401333001367531,"units":"kilometers"},"phone":"8882293770","tnavLink":"http:\/\/apps.scout.me\/v1\/driveto?dt=1200+Rockville+Pike+Rockville+MD+20852@39.069294,-77.129662&token=s6iLlaxu-k6-J92rQBlaPvozpxUPAAPhbIlKgFy5X_XcyFLYv6iVIkXH4rOPIvZDR1duzTMYCzrFYAMkx2Q3RILIva9TGKubnreoRxaAv_2uRGGItiCo-FJA9sJA9EPtSO70OFeu7LDg06EZxiQjxU_CKNfi76c_-ImDVGNCocQ&name=Best+Buy+-+Rockville","location":{"longitude":-77.129662,"latitude":39.069294},"address":{"postal":"20852","state":"MD","address1":"1200
        Rockville Pike","country":"US","city":"Rockville"},"hours":"2:10:00:AM:9:00:PM,3:10:00:AM:9:00:PM,4:10:00:AM:9:00:PM,5:10:00:AM:9:00:PM,6:10:00:AM:9:00:PM,7:10:00:AM:9:00:PM,1:11:00:AM:7:00:PM","mapLink":"http:\/\/maps.google.com\/maps?q=1200+Rockville+Pike+Rockville+MD+20852","name":"Best
        Buy - Rockville","retailer":{"id":"37207e12-12f5-4de2-a7a2-b70feb230df2","logo":"http:\/\/bi2.retailigence.com\/img\/logo\/bestbuy-120x30.jpg","phs":1,"name":"Best
        Buy","logosq":"http:\/\/bi2.retailigence.com\/img\/logo\/bestbuy-50x50.jpg"},"retlocationid":"293"},"lastUpdated":"2013-10-05T18:48:17.623Z","quantityText":"Call
        for availability","currency":"USD"}},{"SearchResult":{"product":{"id":"2f80faaa-d28f-44db-a66e-4831645a1c1b","externalproductid":"213131","weight":0.0,"msrpCurrency":"USD","msrp":"15.99","productCategory":["Media"],"name":"Gangsta
        Walkin''[PA] - CD","barcode":"00691151003325","brand":"Take Yo Shirt Off","images":[{"ImageInfo":{"imageName":"LARGE","link":"http:\/\/apitest.retailigence.com\/v2.0\/rdr?id=l:2f80faaa-d28f-44db-a66e-4831645a1c1b&requestId=95c1cbc7-37ba-4b82-b357-0606a9539b5c&apikey=aIzdHVPfx5e20bav-Lx7xtd[...]
